.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
    text-align: center;
    margin-bottom: 30px;
}

.avatar{
    border-radius: 50%;
    width: 25%;
    max-width: 80px;
    margin-bottom: 30px;
}
.avatar-description{
    font-family: 'Barlow';
    font-weight: 700;
    color:hsl(213, 9%, 39%);
    letter-spacing: 1px;
    line-height: 1.5em;
    margin-bottom: 25px;
}

.avatar-name{
    font-size: 22px;
    font-family: 'Fraunces';
    font-weight: 1000;
    color: hsl(212, 27%, 19%);
    margin-bottom: 10px;
}

.avatar-position{
    color:hsl(232, 10%, 55%);
    font-weight: 500;
    font-family: 'Barlow';
    opacity: 0.6;
}

@media (min-width:750px) {
    .testimonial{
        padding:20px
    }
    .avatar-description{
        font-weight: 600;
        font-size: 15px;
    }
    
   
}